
<section class="flex my-20">
    <div class="px-20 py-20">
      <h2 class="text-3xl sm:text-6xl mb-4 text-left md:max-w-[70%]">"Light everywhere, and it constantly changes. And I too love the light, perhaps the light only."
        - Czeslaw Milosz</h2>
      <!-- Add your quote here -->
    </div>
</section>


<style>
  /* Add your custom styles here */
</style>

<script>
  // Add your script logic here
</script>
