---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import Gallery from "../components/Gallery.astro"
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- FONTS -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	<body class="font-[Montserrat] h-screen bg-gray-300">
		<Header></Header>
		<Hero></Hero>
		<Gallery></Gallery>
		<slot />
	</body>
</html>
<style is:global>

</style>
